@model DozorWeb.Models.MessageSendingViewModel

@{
    ViewBag.Title = "Страница сообщений";
}

<script>
    function FillSubgroups() {
        var gradeId = $('#SelectedGradeId').val();
        $.ajax({
            url: '/Message/GetSubgroups',
            type: "GET",
            dataType: "JSON",
            data: { gradeId: gradeId },
            success: function (subgroups) {
                $("#SelectedSubgroupId").html("");
                $.each(subgroups, function (i, subgroup) {
                    $("#SelectedSubgroupId").append(
                        $('<option></option>').val(subgroup.SubgroupId).html(subgroup.Subgroup));
                });
            }
        });
        FillStudents();
    }

    function FillStudents() {
        var gradeId = $('#SelectedGradeId').val();
        var subgroupId = $('#SelectedSubgroupId').val();
        $.ajax({
            url: '/Message/GetStudents',
            type: "GET",
            dataType: "JSON",
            data: { gradeId : gradeId, subgroupId: subgroupId },
            success: function (students) {
                $("#SelectedStudentId").html("");
                $.each(students, function (i, student) {
                    $("#SelectedStudentId").append(
                        $('<option></option>').val(student.StudentId).html(student.Name));
                });
            }
        });
    }

    function SendMessage() {
        var gradeId = $('#SelectedGradeId').val();
        var subgroupId = $('#SelectedSubgroupId').val();
        var studentId = $('#SelectedStudentId').val();
        var messageText = $('#MessageText').val();
        $.ajax({
            url: '/Message/SendMessage',
            type: "GET",
            dataType: "JSON",
            data: { gradeId: gradeId, subgroupId: subgroupId, studentId : studentId, messageText : messageText },
            success: function (students) {
                
            }
        });
    }
</script>

<h3>Отправка сообщений</h3>

<div class="form-group">
    <br />
    @Html.Label("Класс", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(m => m.SelectedGradeId,
                                Model.Grades,
                                "Выберите класс",
                                new
                                {
                                    @class = "form-control",
                                    @onchange = "FillSubgroups()"
                                })
        @Html.ValidationMessageFor(m => m.SelectedGradeId, "", new { @class = "text-danger" })
    </div>
    <br />
</div>

<div class="form-group">
    <br />
    @Html.Label("Подгруппа", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(m => m.SelectedSubgroupId,
                                   Model.Subgroups,
                              "Выберите подгруппу",
                              new
                              {
                                  @class = "form-control",
                                  @onchange = "FillStudents()"
                              })
        @Html.ValidationMessageFor(m => m.SelectedSubgroupId, "", new { @class = "text-danger" })
    </div>
    <br />
</div>

<div class="form-group">
    @Html.Label("Студент", new { @class = "control-label col-md-2" })
    <br>
    <div class="col-md-10">
        @Html.DropDownListFor(m => m.SelectedStudentId,
                        Model.Students,
                        "Выберите студента",
                        new
                        {
                            @class = "form-control"
                        })
        @Html.ValidationMessageFor(m => m.SelectedStudentId, "", new { @class = "text-danger" })
    </div>
    <br />
</div>

<div>
    Текст сообщения:
    <br />
    @Html.TextArea("MessageText", "", 5, 100, new { @class = "message-area" })
    <br />
</div>


<div class="col-md-10">
    <br />
    <button name="submitButton" class="btn btn-primary" value="submit" onclick="javascript:SendMessage();">Отправить сообщение</button>
</div>